.a {
    text-decoration-line: overline;
}
.s {
    text-decoration-line: line-through;
}
.d {
    text-decoration-line: underline;
}
.f {
    text-decoration-line: overline underline;
}
h1 {
    font-weight: bolder;
}
